.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    padding: 10px 50px;
    border-radius: 50px;
   
}


.high-scores {
    width: 120px;
    color: rgb(235, 13, 168);
    display: inline-block
}

.time {
    width: 40px;
   
    float: right;
    color: rgb(235, 13, 168);  
}
.grid h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.grid #question {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    
}

.buttons {
    margin-top: 20px;
}

#btn0, #btn1, #btn2, #btn3 {
    text-align: left;
    display : block;
    background-color: rgb(235, 13, 168);
    width: 200px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;

}
#question {
    font-size: 25px;
    text-align: center;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: rgb(227, 192, 248);
} 

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}